#parse('/pages/shared/global/global.vm')
#if ($moduleJavascripts.size() > 0 || $moduleStylesheets.size() > 0)
========INCLUDES==========>
#foreach($group in $moduleJavascripts.entrySet())
	#foreach($moduleJS in $group.value)
		$!{moduleJS}
	#end
#end
#foreach($group in $moduleStylesheets.entrySet())
	#foreach($moduleSS in $group.value)
		$!{moduleSS}
	#end
#end
<==========================
#end
#renderRegion("content", false)