#if($moduleStylesheets)
  #set($group = $moduleStylesheets.get('loadpriority'))

  #if($group.size() > 0)
    #foreach($file in $group)
      <link rel="stylesheet" href="$!{file}" async="true" />
    #end
  #end

  #if($developer && !$optimizeCSS)
    <link rel="stylesheet" href="$!{contextPath}resources/library/core/core.css" type="text/css" />
	
    #foreach($group in $moduleStylesheets.entrySet())
    	#foreach($moduleSS in $group.value)
    		<link rel="stylesheet" href="$!{moduleSS}" type="text/css" />
    	#end
    #end
  #else
    <script type="text/javascript">
      #set($styles = "['!$!{contextPath}resources/library/core/core.css', ")
      
      #foreach($group in $moduleStylesheets.entrySet())
        #if($group.key != "loadpriority")
  	  	  #set($hasNextGroup = $velocityHasNext)
      	  
          #foreach($moduleSS in $group.value)
            #set($styles = $styles + "'!$!{moduleSS}'")
  		      
            #if($hasNextGroup || $velocityHasNext)
              #set($styles = $styles + ", ")
            #end
  		    #end
        #end
      #end
      
      #set($styles = $styles + "]")
      core.module.use($!{styles});
    </script>
  #end
#end