###
### Global Header
###
### The uppermost area of each page.
###
### Copyright Collibra NV/SA
### @author Clovis Six <clovis@collibra.com>
###

#set($modulePath = "$!{contextPath}resources/pages/shared/header/")
#set($moduleVMPath = "/pages/shared/header/")

<!DOCTYPE html>
<html>
  <head>
    <title>$!msg.get('core.header.title')</title>

    <!-- Use Google Chrome Frame if it is available. -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="$!{modulePath}images/favicon.ico" type="image/x-icon" />

    ## Include JavaScript files.
    #parse("$!{moduleVMPath}includes/javascript.vm")

    ## Include style sheets.
    #parse("$!{moduleVMPath}includes/stylesheets.vm")
  </head>

  ## Inline CSS is necessary in order to load the image immediately.
  <body id='body' style='background-image: url("${modulePath}images/patterns/background.gif");'>
    ## Inline CSS is necessary in order to load the image immediately.
    <div id='maincontainer' style='background: url("${modulePath}images/gradients/background.png") top right no-repeat;'>
      ## !TODO: The extensions were enabled on the header. Reanble them!
      <div id='header' class='layoutsection'>
        ##
        ## Logo
        ##

        ## !TODO: How will I generate the URL to the homepage?
        <a href="$!{contextPath}" id="logowrapper">
          #set($logo = $pd.getProperty('core-header-logo').trim())
          <img id="logo" src="$!{modulePath}$!{logo}" alt="$!{msg.get('core.header.logo.alt')}" height="80" />
        </a>
			#if(!$noControls)
				#renderModule("modules/menus/main", true)
			#end	
      </div>
      <div id="contentwrapper">