###
### Global Footer
###
### The lowermost area of each page.
###
### Copyright Collibra 2012.
### @author Clovis Six <clovis@collibra.com>
###

        <div class="clearfloats"></div>
        <a id="footer-link" href="http://www.collibra.com">
	        <div id="footer">
	          #set($buildNo = $applicationComponent.getBuildNumber())
	          #if($buildNo != "")
	            #set($build = " (build $!{buildNo})")
	          #end

	          $msg.get('core.footer.dgc') $applicationComponent.getVersion()$!{build} - $msg.get('core.footer.copyright')
	        </div>## footer
	      </a>
      </div> ## contentwrapper
    </div> ## maincontainer
    <!-- Load the js core. -->
    <script type="text/javascript">
      core.module.use('!$!{contextPath}resources/library/core/core.js', function() {
        #if($moduleJavascripts)
          #set($js = "[")
		      
          #foreach($group in $moduleJavascripts.entrySet())
	  	      #set($hasNextGroup = $velocityHasNext)
            
            #foreach($moduleJS in $group.value)
              #set($js = $js + "'!$!{moduleJS}'")
              #if($hasNextGroup || $velocityHasNext)
                #set($js = $js + ", ")
              #end
            #end
          #end
          
          #set($js = $js + "]")
          core.module.use($!{js});
        #end
        
        core.module.use('library/uielements/tooltip');
      });

    </script>
  </body>
</html>