<div class="content" style="margin:20px auto; width: 900px;">
	<h1>Bootstrapping Collibra Data Governance Center</h1>
	<div>
		The initialization of the DGC server has been successful.
	</div>
	<div>
		In this last installation step, the necessary data is loaded into the database.<br/>
		You can choose to load only the necessary data or to immediately include some sample data to get started with. 
	</div>
	<div class="warning">WARNING: ALL the existing data in your database will be removed, including the history.</div>
	
	<form action="" method="post" id="bootstrapForm">
		<input type="radio" name="bootstrapChoice" value="basic" id="basicChoice" checked="checked" /><label for="basicChoice">$msg.get("bootstrap.basic")</label><br />
		<div class="choice-description">$msg.get("bootstrap.basic.description")</div>
	    <input type="radio" name="bootstrapChoice" value="demo1" id="demo1Choice" /><label for="demo1Choice">$msg.get("bootstrap.demo1")</label><br />
		<div class="choice-description">$msg.get("bootstrap.demo1.description")</div>
	    <input type="radio" name="bootstrapChoice" value="demo2" id="demo2Choice" /><label for="demo2Choice">$msg.get("bootstrap.demo2")</label><br />
		<div class="choice-description">$msg.get("bootstrap.demo2.description")</div>
		
        <input id="submit" type="submit" name="submit" value="$msg.get("bootstrap.bootstrap")">
		<div id="loading">
			<img id="loadingIcon" src="${contextPath}resources/internal/pages/bootstrap/images/ajax-loader.gif" alt="Bootstrapping..."/>
			<span id="progress">0%</span>
		</div>
    </form>
</div>