
<div class="test-radiocheck" style="width:50%; margin:20px auto;">
<div class="browser"></div>
<h2>Checkboxes</h2>
<table style="width:100%; font-size:1.2em;">
<tr>
	<td>
	  <p>With id & labels:</p>
	  <p>
	    <input type="checkbox" name="test11" value="A" id="test1testA" /><label for="test1testA">Label A</label><br />
	    <input type="checkbox" checked="checked" name="test12" value="B" id="test1testB" /><label for="test1testB">Label B (checked)</label><br />
	    <input type="checkbox" disabled="disabled" name="test13" value="C" id="test1testC" /><label for="test1testC">Label C (disabled)</label><br />
	  </p>
	</td>
	<td>
	  <p>With id:</p>
	  <p>
	    <input type="checkbox" name="test21" value="A" id="test21testA" />Label A<br />
	    <input type="checkbox" name="test22" value="B" id="test21testB" />Label B<br />
	    <input type="checkbox" name="test23" value="C" id="test21testC" />Label C<br />
	  </p>
	</td>
	<td>
	  <p>No id, no label:</p>
	  <p>
	    <input type="checkbox" name="test31" value="A" />Label A<br />
	    <input type="checkbox" name="test32" value="B" />Label B<br />
	    <input type="checkbox" name="test33" value="C" />Label C<br />
	  </p>
	</td>
</tr>
</table>

<h2>Radios</h2>
<table style="width:100%; font-size:1.2em;">
<tr>
	<td>
	  <p>With id & labels:</p>
	  <p>
	    <input type="radio" name="test41" value="A" id="test41testA" /><label for="test41testA">Label A</label><br />
	    <input type="radio" checked="checked" name="test41" value="B" id="test41testB" /><label for="test41testB">Label B (checked)</label><br />
	    <input type="radio" disabled="disabled" name="test41" value="C" id="test41testC" /><label for="test41testC">Label C (disabled)</label><br />
	  </p>
	</td>
	<td>
	  <p>With id:</p>
	  <p>
	    <input type="radio" name="test42" value="A" id="test42testA" />Label A<br />
	    <input type="radio" name="test42" value="B" id="test42testB" />Label B<br />
	    <input type="radio" name="test42" value="C" id="test42testC" />Label C<br />
	  </p>
	</td>
	<td>
	  <p>No id, no label:</p>
	  <p>
	    <input type="radio" name="test43" value="A" />Label A<br />
	    <input type="radio" name="test43" value="B" />Label B<br />
	    <input type="radio" name="test43" value="C" />Label C<br />
	  </p>
	</td>
</tr>
</table>

</div>

<script language="JavaScript" type="text/javascript">
core.dom.ready(function() {
  core.module.use('library/uielements/radiocheck', function(RadioCheck) {
    window.RadioCheck = RadioCheck;
    RadioCheck.create('.test-radiocheck input');
    core.dom.select('.test-radiocheck .browser').text('Browser: '+navigator.userAgent);
  });
});
</script>