## Include navigation and search.
#renderModule('pages/shared/navigation', true)

## Include the title bar.
#renderModule('modules/content/titlebar', true)

## Two column layout
<div class="twocolumnlayout">
  <div class="leftcolumn-background"></div>
  <div class="leftcolumn">
    ## Include the tab bar.
    #renderModule('modules/menus/tabbar')
  </div>
  <div class="rightcolumn">
    
    ## Include the Attribute creation bar.
    #renderModule('modules/content/attributecreation')
    
    <div class="pagecontent">
        <div>This is the term TEST content page.<br></div>
        <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ipsum. Integer posuere ligula non eros egestas ipsum dolor sit amet, consectetuer adipiscing sed, aliquam ac, vulputate wisi semper id, condimentum eget, aliquam sapien. Curabitur elit. Nullam sit amet enim. Fusce tempor magna porttitor ante ipsum pede, posuere suscipit urna accumsan at, bibendum quis, vestibulum quis, lorem. In quam nunc,
		</p><p>
		Odio, in interdum at, enim. Suspendisse potenti. Vivamus laoreet a, sollicitudin non, lacus. Nunc justo. Phasellus lorem tempus nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam. nullam.
		</p><p>
		Viverra. Ut rhoncus eget, porta auctor. Nam ac est ullamcorper sem eget pede bibendum nulla sem vitae massa imperdiet ut, nonummy velit nec enim aliquam vitae, rutrum laoreet. Aenean ligula erat volutpat. Pellentesque varius risus ornare velit suscipit lectus. Nam ut turpis quis massa lacinia id, justo. Maecenas pulvinar massa
		</p><p>
		Primis in purus scelerisque arcu. Duis tempor, dolor sit amet wisi. Praesent euismod orci viverra sit amet, tortor. Nam diam. Etiam leo ut felis sit amet magna. Sed lobortis urna. Nulla in velit odio nec nisl. Morbi commodo. Cras mattis, magna vel lectus. Nam ultrices. Nunc sapien. Praesent magna diam,
		</p><p>
		Volutpat, velit nec erat. Vestibulum laoreet, ante a diam. In venenatis in, ante. Curabitur interdum ligula eget dolor eget leo sed dui. Cras lacus tincidunt congue. Integer ac pede id sapien et dui. Lorem ipsum pretium quis, ornare at, aliquet eu, rhoncus eu, luctus diam. Aliquam quis velit. Vivamus hendrerit
		</p>
    </div>
  </div>
  <div class="clearfloats"></div>
</div>
