<style>

</style>
<div class="browser" style="width:80%; margin:20px auto;"></div>
<br /><br /><br /><br /><br />
<div class="test" style="text-align:center">
    
    <button id="menu1"><i class="icon-list"></i>Menu on mouse over</button>
    <button id="menu3"><i class="icon-list"></i>Menu on mouse click</button>
    <button id="filter"><i class="icon-filter"></i>Filter</button>
</div>
<div style="text-align:right">
  <button id="menu4"><i class="icon-list"></i>Columns</button>
</div>
<br /><br />
<div class="test" style="text-align:center">
    <span id="menu2">This link also opens menu (mouse over)</span>
</div>
<br /><br /><br />


<script language="JavaScript" type="text/javascript">
  core.dom.ready( function(){
    core.module.use('library/uielements/menu', function(Menu) {
      window.Menu = Menu;
      var menuItems = [
        {
          label: 'Action',
          icon: false,
          'default': true,
          enabled: true,
          group: 0,
          on: {'click': function() { core.debug.show('Click! 0'); }},
          menu: false
        },
                {
          label: 'Fade Action',
          group: 1,
          on: {'click': function() { core.dom.select('BODY').fadeOut().fadeIn(); }}
        },
                {
          label: 'Iconed Action',
          icon: 'icon-add',
          group: 1,
          on: {'click': function() { core.debug.show('Click! 2'); }}
        },
                {
          label: 'Subdivision',
          icon: false,
          group: 0,
          on: {'click': function() { core.debug.show('Click! 3'); }},
          menu: [
            {
              label: 'Subdivision',
              icon: false,
              'default': false,
              enabled: true,
              group: 0,
              on: {'click': function() { core.debug.show('Click! 4'); }},
              menu: false
            },
            {
              label: 'Subdivision',
              icon: false,
              'default': false,
              enabled: true,
              group: 1,
              on: {'click': function() { core.debug.show('Click! 5'); }},
              menu: false
            },
            {
              label: 'Mouse down & up',
              icon: false,
              'default': false,
              enabled: true,
              group: 1,
              on: {
                  'mousedown': function() {  core.debug.show('Mouse down!'); },
                  'mouseup': function() {  core.debug.show('Mouse up!'); }
                },
              menu: [
                {
                  label: 'Subdivision 2nd level',
                  icon: false,
                  'default': false,
                  enabled: false,
                  group: 0,
                  on: {'mousedown': function() { core.debug.show('Subdivision 2nd level'); }},
                  menu: false
                },
                {
                  label: 'Refresh page',
                  icon: false,
                  'default': false,
                  enabled: true,
                  group: 1,
                  on: {'mouseup': function(){window.location.href=window.location.href}},
                  menu: false
                }
              ]
            }
          ]
        }
      ];
      
      Menu.create(core.dom.select('#menu1'), menuItems, {
        show: {
          trigger: 'hover',
          delay: 500
        }
      });
      
      Menu.create(core.dom.select('#menu3'), menuItems, {
        show: {
          trigger: 'click',
          on: function(ev) {
            core.debug.show('Menu3 opened!');
          }
        },
        hide: {
          on: function(ev) {
            core.debug.show('Menu3 hided!');
          }
        },
        on: {
            'mouseenter': function(){ core.debug.show('Mouse over the menu :)') },
            'mouseleave': function(){ core.debug.show('Mouse out of the menu :(') },
            'click': function(){ core.debug.show('Click on menu') }
          },
        menuitem: {
          on: {
            'click': function(){ core.debug.show('Clicked on one of all items...'); }
          }
        }
      });
      
      Menu.create(core.dom.select('#menu2'), menuItems, {
        show: {
          trigger: 'hover',
          on: function() {core.debug.show('Menu2 opened!')}
        },
        hide: {
          on: function() {core.debug.show('Menu2 hided!')}
        }
      });
      
      
      Menu.create(core.dom.select('#menu4'), [
        {
          label: 'Rows',
          name: 'rows'
        },
        {
          label: 'Sortable',
          name: 'scolumns',
          sortable: true,
          menu: [
           {
             label: 'Title',
             name: 'ssub_1',
             selectable: true
           },
           {
             label: 'Definition',
             name: 'ssub_2',
             selectable: true
           },
           {
             label: 'Example',
             name: 'ssub_3',
             selectable: true
           }
          ]
        },
        {
          label: 'Not sortable',
          name: 'scolumns',
          menu: [
           {
             label: 'Title',
             name: 'ssub_1'
             //selectable: true
           },
           {
             label: 'Definition',
             name: 'ssub_2',
             selectable: true
           },
           {
             label: 'Example',
             name: 'ssub_3',
             selectable: true
           }
          ]
        }
      ],{
        sortable: true,
        onSort: function(a, b, c) {
          console.log(a);
          console.log(b);
          console.log(c);
        }
      });
      
      Menu.create(core.dom.select('#filter'), [
        {
          label: 'Add',
          name: 'add-filter',
          icon: 'icon-add',
          on: {'click': function() { alert('Add filter!'); }},
          group: 0
        },
        {
          label: '1st Saved filter',
          name: '1st-saved-filter',
          selectable: true,
          group: 1,
          actionButtons: [
            {
              icon: 'icon-edit',
              on: {'click': function() { alert('Edit 1st!'); }}
            },
            {
              icon: 'icon-trash',
              on: {'click': function() { alert('Delete 1st!'); }}
            }
          ]
        },
        {
          label: '2nd Saved filter',
          name: '2nd-saved-filter',
          selectable: true,
          group: 1,
          actionButtons: [
            {
              icon: 'icon-edit',
              on: {'click': function() { alert('Edit 2nd!'); }}
            },
            {
              icon: 'icon-trash',
              on: {'click': function() { alert('Delete 2nd!'); }}
            }
          ]
        },
        {
          label: '3rd Saved filter',
          name: '3rd-saved-filter',
          group: 1,
          actionButtons: [
            {
              icon: 'icon-edit',
              on: {'click': function() { alert('Edit 3rd!'); }}
            }
          ],
          actionButtonsPosition: 'left'
        }
      ]);
      
      
      //Show browser type
      core.dom.select('.browser').text('Browser: '+navigator.userAgent);
    });
  });
</script>