<script type="text/javascript">
<!--
core.dom.ready(function() {
  core.module.use('Term', function(termModule) {
    window.tm = termModule;
    window.mo = tm.create("67c4536d-11fb-44d9-a894-56dbd3e7c2aa", function() {
    });
    
    
    mo.get("signifier", function(v){
      core.dom.select("#cm").text(v);
    }, true)
  });
  
    attrs = function(a) {
      var h = '<table>';
      
      core.array.each(a, function(i, val) {
        h += '<tr><td  width="20">'+i+'</td><td id="attr'+i+'"></td></tr>';
      });
      h += '</table>';
      core.dom.select("#attrs").html(h);
      
      core.array.each(a, function(i, val) {
        
        val.get("longExpression", function(s) {
          core.dom.select("#attr" + i).text(s);
        }, true);
      });
      
    }
    
    pattrs = function(a) {
      var h = '<table>';
      
      core.array.each(a.attributeType, function(i, val) {
        h += '<tr><td  width="20"></td><td>'+val.signifier+'</td></tr>';
      });
      h += '</table>';
      core.dom.select("#pattrs").html(h);
    }
});
//-->
</script><br><br>
Sign in first if you want to play.<br><br>
                      
<div style="margin: 50px; width: 585px;">
<table>
   <tr>
    <td>
      <b>Term signifier:</b>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td width="342">
      <div id="cm" style="margin: 20px; background: none repeat scroll 0% 0% linen; padding: 8px;"></div>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <b>Terms attributes:</b>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td id="attrs">
      <div id="cm" style="margin: 20px; background: none repeat scroll 0% 0% linen; padding: 8px;"></div>
    </td>
    <td>
      <button onclick='mo.get("attributes", function(a){ attrs(a) }, true)'>get attributes</button>
      <button onclick='mo.get("attributes", function(a){ 
          a[0].set("value", "Yoaaa").save();
      })'>set attribute(0) name to rand</button>
    </td>
  </tr>
  <tr>
    <td>
      <b>Terms possible attributes types:</b>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td id="pattrs">
      <div id="cm" style="margin: 20px; background: none repeat scroll 0% 0% linen; padding: 8px;"></div>
    </td>
    <td>
    <button onclick='mo.getAttributesTypes(function(a){ pattrs(a) }, true)'>get possible attributes types</button>
    </td>
  </tr>
</table>


</div>