<div class="browser"></div>

<br/><br/>BUTTON<br/><br/>
<input type="text" value="Test texfield" />
<button>Default</button>
<button><i class="icon-cogwheel"></i>Success Icon</button>
<button class="disabled" disabled="disabled">Default Disabled</button>
<button class="disabled" disabled="disabled"><i class="icon-cogwheel"></i>Default Icon Disabled</button>
<button class="btn-success">Success</button>
<button class="btn-success"><i class="icon-ban"></i>Success Icon</button>
<button class="btn-success disabled" disabled="disabled">Success Disabled</button>
<button class="btn-success disabled" disabled="disabled"><i class="icon-ban"></i>Success Icon Disabled</button>
<button class="btn-warning">Warning</button>
<button class="btn-warning"><i class="icon-ban"></i>Warning Icon</button>
<button class="btn-warning disabled" disabled="disabled">Warning Disabled</button>
<button class="btn-warning disabled" disabled="disabled"><i class="icon-ban"></i>Warning Icon Disabled</button>
<button class="btn-danger">Danger</button>
<button class="btn-danger"><i class="icon-ban"></i>Danger Icon</button>
<button class="btn-danger disabled" disabled="disabled">Danger Disabled</button>
<button class="btn-danger disabled" disabled="disabled"><i class="icon-ban"></i>Danger Icon Disabled</button>
<button class="btn-success no-label"><i class="icon-ok white"></i></button>
<button class="btn-danger no-label"><i class="icon-delete white"></i></button>

<br/><br/>DIV<br/><br/>
<input type="text" value="Test texfield" />
<div class="btn">Default</div>
<div class="btn"><i class="icon-cogwheel"></i>Success Icon</div>
<div class="btn disabled" disabled="disabled">Default Disabled</div>
<div class="btn disabled" disabled="disabled"><i class="icon-cogwheel"></i>Default Icon Disabled</div>
<div class="btn-success">Success</div>
<div class="btn-success"><i class="icon-ban"></i>Success Icon</div>
<div class="btn-success disabled" disabled="disabled">Success Disabled</div>
<div class="btn-success disabled" disabled="disabled"><i class="icon-ban"></i>Success Icon Disabled</div>
<div class="btn-warning">Warning</div>
<div class="btn-warning"><i class="icon-ban"></i>Warning Icon</div>
<div class="btn-warning disabled" disabled="disabled">Warning Disabled</div>
<div class="btn-warning disabled" disabled="disabled"><i class="icon-ban"></i>Warning Icon Disabled</div>
<div class="btn-danger">Danger</div>
<div class="btn-danger"><i class="icon-ban"></i>Danger Icon</div>
<div class="btn-danger disabled" disabled="disabled">Danger Disabled</div>
<div class="btn-danger disabled" disabled="disabled"><i class="icon-ban"></i>Danger Icon Disabled</div>
<div class="btn-success no-label"><i class="icon-ok white"></i></div>
<div class="btn-danger no-label"><i class="icon-delete white"></i></div>

<br/><br/>SPAN<br/><br/>
<input type="text" value="Test texfield" />
<span class="btn">Default</span>
<span class="btn"><i class="icon-cogwheel"></i>Success Icon</span>
<span class="btn active">Default Active</span>
<span class="btn hover">Default Hover</span>
<span class="btn disabled" disabled="disabled">Default Disabled</span>
<span class="btn active disabled" disabled="disabled">Default Active Disabled</span>
<span class="btn hover disabled" disabled="disabled">Default Hover Disabled</span>
<span class="btn active hover">Default Active Hover</span>
<span class="btn disabled" disabled="disabled"><i class="icon-cogwheel"></i>Default Icon Disabled</span>
<span class="btn-success">Success</span>
<span class="btn-success"><i class="icon-ban"></i>Success Icon</span>
<span class="btn-success disabled" disabled="disabled">Success Disabled</span>
<span class="btn-success disabled" disabled="disabled"><i class="icon-ban"></i>Success Icon Disabled</span>
<span class="btn-warning">Warning</span>
<span class="btn-warning"><i class="icon-ban"></i>Warning Icon</span>
<span class="btn-warning disabled" disabled="disabled">Warning Disabled</span>
<span class="btn-warning disabled" disabled="disabled"><i class="icon-ban"></i>Warning Icon Disabled</span>
<span class="btn-danger">Danger</span>
<span class="btn-danger"><i class="icon-ban"></i>Danger Icon</span>
<span class="btn-danger disabled" disabled="disabled">Danger Disabled</span>
<span class="btn-danger disabled" disabled="disabled"><i class="icon-ban"></i>Danger Icon Disabled</span>
<span class="btn-success no-label"><i class="icon-ok white"></i></span>
<span class="btn-danger no-label"><i class="icon-delete white"></i></span>

<br/><br/>INPUT<br/><br/>
<input type="text" value="Test texfield" />
<input type="submit" value="Default" />
<input type="submit" class="active" value="Default Active" />
<input type="submit" class="hover" value="Default Hover" />
<input type="submit" class="disabled" disabled="disabled" value="Default Disabled" />
<input type="submit" class="active hover" value="Default Active Hover" />
<input type="submit" class="active disabled" disabled="disabled" value="Default Active Disabled" />
<input type="submit" class="hover disabled" disabled="disabled" value="Default Hover Disabled" />
<input type="submit" class="active hover disabled" disabled="disabled" value="Default Active Hover Disabled" />
<input type="submit" class="btn-success" value="Success" />
<input type="submit" class="btn-success active" value="Success Active" />
<input type="submit" class="btn-success hover" value="Success Hover" />
<input type="submit" class="btn-success disabled" disabled="disabled" value="Success Disabled" />
<input type="submit" class="btn-success active hover" value="Success Active Hover" />
<input type="submit" class="btn-success active disabled" disabled="disabled" value="Success Active Disabled" />
<input type="submit" class="btn-success hover disabled" disabled="disabled" value="Success Hover Disabled" />
<input type="submit" class="btn-success active hover disabled" disabled="disabled" value="Success Active Hover Disabled" />
<input type="submit" class="btn-warning" value="Warning" />
<input type="submit" class="btn-warning active" value="Warning Active" />
<input type="submit" class="btn-warning hover" value="Warning Hover" />
<input type="submit" class="btn-warning disabled" disabled="disabled" value="Warning Disabled" />
<input type="submit" class="btn-warning active hover" value="Warning Active Hover" />
<input type="submit" class="btn-warning active disabled" disabled="disabled" value="Warning Active Disabled" />
<input type="submit" class="btn-warning hover disabled" disabled="disabled" value="Warning Hover Disabled" />
<input type="submit" class="btn-warning active hover disabled" disabled="disabled" value="Warning Active Hover Disabled" />
<input type="submit" class="btn-danger" value="Danger" />
<input type="submit" class="btn-danger active" value="Danger Active" />
<input type="submit" class="btn-danger hover" value="Danger Hover" />
<input type="submit" class="btn-danger disabled" disabled="disabled" value="Danger Disabled" />
<input type="submit" class="btn-danger active hover" value="Danger Active Hover" />
<input type="submit" class="btn-danger active disabled" disabled="disabled" value="Danger Active Disabled" />
<input type="submit" class="btn-danger hover disabled" disabled="disabled" value="Danger Hover Disabled" />
<input type="submit" class="btn-danger active hover disabled" disabled="disabled" value="Danger Active Hover Disabled" />

<br/><br/>A<br/><br/>
<input type="text" value="Test texfield" />
<a class="btn">Default</a>
<a class="btn"><i class="icon-cogwheel"></i>Success Icon</a>
<a class="btn disabled" disabled="disabled">Default Disabled</a>
<a class="btn disabled" disabled="disabled"><i class="icon-cogwheel"></i>Default Icon Disabled</a>
<a class="btn-success">Success</a>
<a class="btn-success"><i class="icon-ban"></i>Success Icon</a>
<a class="btn-success disabled" disabled="disabled">Success Disabled</a>
<a class="btn-success disabled" disabled="disabled"><i class="icon-ban"></i>Success Icon Disabled</a>
<a class="btn-warning">Warning</a>
<a class="btn-warning"><i class="icon-ban"></i>Warning Icon</a>
<a class="btn-warning disabled" disabled="disabled">Warning Disabled</a>
<a class="btn-warning disabled" disabled="disabled"><i class="icon-ban"></i>Warning Icon Disabled</a>
<a class="btn-danger">Danger</a>
<a class="btn-danger"><i class="icon-ban"></i>Danger Icon</a>
<a class="btn-danger disabled" disabled="disabled">Danger Disabled</a>
<a class="btn-danger disabled" disabled="disabled"><i class="icon-ban"></i>Danger Icon Disabled</a>
<a class="btn-success no-label"><i class="icon-ok white"></i></a>
<a class="btn-danger no-label"><i class="icon-delete white"></i></a>


<br/><br/>MISC TYPES:<br/><br/>

<button>Default</button>
<div class="btn">Default</div>
<span class="btn">Default</span>
<input type="submit" value="Default" />
<a class="btn">Default</a>
<br/><br/>

<button><i class="icon-cogwheel"></i>Default</button>
<div class="btn"><i class="icon-cogwheel"></i>Default</div>
<span class="btn"><i class="icon-cogwheel"></i>Default</span>
<a class="btn"><i class="icon-cogwheel"></i>Default</a>
<br/><br/>

<button class="btn-success no-label"><i class="icon-ok white"></i></button>
<div class="btn-success no-label"><i class="icon-ok white"></i></div>
<span class="btn-success no-label"><i class="icon-ok white"></i></span>
<a class="btn-success no-label"><i class="icon-ok white"></i></a>
<br/><br/>
