<div class="browser"></div>
<div style="padding: 50px; text-align:center;">
    <span class="btn no-label"><i class="icon-cogwheel"></i></span>
    <span class="btn" id="advanced1">Advanced</span>
    <span class="btn" id="export">Export</span><br />
    <span class="btn" id="filter">Filter</span><br />
    <span class="btn" id="action3">Action</span><br />
    <span class="btn" id="selectable">Choose filter</span><br />
    <span class="btn" id="selectable2">Choose more filters</span><br />
    <span class="btn" id="selectable3">Really ?</span><br />
    <span class="btn" id="selectable4">Combooo</span><br />
</div>

<script language="JavaScript" type="text/javascript">
core.dom.ready(function() {
  core.module.use(['library/uielements/advancedbutton'], function(AdvancedButton) {
    core.dom.select('.test-radiocheck .browser').text('Browser: '+navigator.userAgent);
    window.AdvancedButton = AdvancedButton;
       
    var exportItems = [
      {
        label: 'CSV',
        on: {'click': function() {
          core.debug.show('action perform directly on menu item click: CSV');
        }}
      },
      {
        label: 'Excel',
        on: {'click': function() {
          core.debug.show('action perform directly on menu item click: EXCEL');
        }}
      },
      {
        label: 'PDF',
        on: {'click': function() {
          core.debug.show('action perform directly on menu item click: PDF');
        }}
      }
    ];
    
    var actionItems = [
      {
        label: 'Action default',
        icon: 'icon-add',
        action: function() { core.debug.show('action default');},
         menu: [
            {
              label: 'Subdivision',
              icon: false,
              'default': false,
              enabled: true,
              group: 0,
              on: {'click': function() { core.debug.show('Click! 4'); }},
              menu: false
            },
            {
              label: 'Subdivision',
              icon: false,
              'default': false,
              enabled: true,
              group: 1,
              on: {'click': function() { core.debug.show('Click! 5'); }},
              menu: false
            },
            {
              label: 'Mouse down & up',
              icon: false,
              'default': false,
              enabled: true,
              group: 1,
              on: {
                  'mousedown': function() {  core.debug.show('Mouse down!'); },
                  'mouseup': function() {  core.debug.show('Mouse up!'); }
                }
            }
        ]
      },
      {
        label: 'Another Action',
        action: function() { core.debug.show('another action');}
      },
      {
        label: 'Iconed Action',
        action: function() { core.debug.show('iconed action');}
      }
    ];
    
    var actionItems2 = [
       {
         label: 'Action default',
         icon: 'icon-add',
         action: function() { core.debug.show('action default');}
       },
       {
         label: 'Another Action',
         action: function() { core.debug.show('another action');}
       },
       {
         label: 'Iconed Action',
         action: function() { core.debug.show('iconed action');}
       }
     ];
    
    var selectableItems = [
       {
         label: 'Name',
         on: {'click': function() {
           core.debug.show('name clicked');
         }},
         menu: [
            {
              label: 'Subdivision',
              icon: false,
              'default': false,
              enabled: true,
              group: 0,
              on: {'click': function() { core.debug.show('Click! 4'); }},
              menu: false
            },
            {
              label: 'Subdivision',
              icon: false,
              'default': false,
              enabled: true,
              group: 1,
              on: {'click': function() { core.debug.show('Click! 5'); }},
              menu: false
            },
            {
              label: 'Mouse down & up',
              icon: false,
              'default': false,
              enabled: true,
              group: 1,
              on: {
                  'mousedown': function() {  core.debug.show('Mouse down!'); },
                  'mouseup': function() {  core.debug.show('Mouse up!'); }
                }
            }
        ]
       },
       {
         label: 'Definition',
         on: {'click': function() { 
           core.debug.show('definiftion clicked');
         }},
         selectable: true
       },
       {
         label: 'Description',
         on: {'click': function() {
           core.debug.show('description clicked');
         }}
       }
     ];
     
     var filterItems = [
        {
          label: 'Add',
          name: 'add-filter',
          icon: 'icon-add',
          on: {'click': function() { alert('Add filter!'); }},
          group: 0
        },
        {
          label: '1st Saved filter',
          name: '1st-saved-filter',
          selectable: true,
          group: 1,
          actionButtons: [
            {
              icon: 'icon-edit',
              on: {'click': function() { alert('Edit 1st!'); }}
            },
            {
              icon: 'icon-trash',
              on: {'click': function() { alert('Delete 1st!'); }}
            }
          ]
        },
        {
          label: '2nd Saved filter',
          name: '2nd-saved-filter',
          selectable: true,
          group: 1,
          actionButtons: [
            {
              icon: 'icon-edit',
              on: {'click': function() { alert('Edit 2nd!'); }}
            },
            {
              icon: 'icon-trash',
              on: {'click': function() { alert('Delete 2nd!'); }}
            }
          ]
        }
      ];
     
     function checkboxAction() {
        core.debug.show('checkbox action')
     }
     
    AdvancedButton.create('#export', {menu: exportItems, type: 'TYPE_MENU', checkbox: {show: true, check: true, onChange: function() {core.debug.show('onchange');}}});
    AdvancedButton.create('#filter', {menu: filterItems, type: 'TYPE_MENU', checkbox: {show: true, check: true, onChange: function() {core.debug.show('onchange');}}});
    AdvancedButton.create('#action', {type: 'TYPE_MENU', checkbox: {show: true, check: true, onChange: function() {core.debug.show('onchange');}}});
    AdvancedButton.create('#action2', {type: 'TYPE_SPLIT', checkbox: {show: true, check: true, onChange: function() {core.debug.show('onchange');}}});
    AdvancedButton.create('#action3', {menu: actionItems, type: 'TYPE_SPLIT'});
    AdvancedButton.create('#selectable', {menu: selectableItems, type: 'TYPE_MENU'});
    AdvancedButton.create('#selectable2', {menu: selectableItems, type: 'TYPE_SPLIT'});
    AdvancedButton.create('#selectable3', {type: 'TYPE_MENU', checkbox: {show: true, check: true, onChange: function() {core.debug.show('onchange');}}});
    AdvancedButton.create('#selectable4', {menu: selectableItems, type: 'TYPE_SPLIT', checkbox: {show: true, check: true, onChange: function() {core.debug.show('onchange');}}});
    
  });
});
</script>