###
### Main Menu
###
### The personal menu that can be found top right on each page.
###
### Copyright Collibra NV/SA
### @author Clovis Six <clovis@collibra.com>
###

## !TODO: Extensions for main menu!
##set($MainMenuExtensions = {})
##set($pageMainMenuIP = $insertionPointPage + '/MainMenu')
##set($insertionPoints = ['MainMenu', $pageMainMenuIP])
##initializeExtensionList($MainMenuExtensions, $insertionPoints)

## !TODO: add 'insertionpoint="MainMenu"' to this tag once extensions is enabled.
<div id="mainmenu">

      ##renderExtensions($MainMenuExtensions, 'start', '', '')

      ##
      ## Registration Menu Item
      ##

      ##renderHintedExtensions($MainMenuExtensions, 'Register', 'before', '', '')

      ##set($removeMainMenuItem = false)
      ##checkForRemoveExtension($MainMenuExtensions, 'Register', $removeMainMenuItem)
      ## !TODO: Check proper rights!
      ##if($isGuest && !$removeMainMenuItem)
        ## !TODO: Add URL to registration page.
        <a href="">
          ## !TODO: Add 'extensionhint="Register"' to this tag once extensions is enabled.
          <div id="mainmenuregister" class="menuitem register">
            <div class="image register"></div>
            <div class="label">$!msg.get('modules.menus.main.signup')</div>
          </div>
        </a>
      ##end

      ##renderHintedExtensions($MainMenuExtensions, 'Register', 'after', '', '')

      ##
      ## Sign In Menu Item
      ##

      ##renderHintedExtensions($MainMenuExtensions, 'SignIn', 'before', '', '')

      ##set($removeMainMenuItem = false)
      ##checkForRemoveExtension($MainMenuExtensions, 'SignIn', $removeMainMenuItem)
      ##if($isGuest && !$removeMainMenuItem)
        <div class="separator"></div>## !TODO: Make sure this separator is not shown if the previous item is not shown!
        <a href="${contextPath}login">
          ## !TODO: Add 'extensionhint="SignIn"' to this tag once extensions is enabled.
          <div id="mainmenusignin" class="menuitem signin">
            <div class="image signin"></div>
            <div class="label">$!msg.get('modules.menus.main.signin')</div>
          </div>
        </a>
      ##end

      ##renderHintedExtensions($MainMenuExtensions, 'SignIn', 'after', '', '')

      ##
      ## Settings Menu Item
      ##

      ##renderHintedExtensions($MainMenuExtensions, 'Settings', 'before', '', '')

      ##set($removeMainMenuItem = false)
      ##checkForRemoveExtension($MainMenuExtensions, 'Settings', $removeMainMenuItem)
      ##set($canViewSettings = $authorizationComponent.isPermitted($permissions.GLOSSARY_SETTINGS_VIEW ))
      ##if(!$isGuest && $canViewSettings && !$removeMainMenuItem)
        <div class="separator"></div>## !TODO: Make sure this separator is not shown if the previous item is not shown!
        ## !TODO: Add URL to the settings page.
        <a href="">
          ## !TODO: Add 'extensionhint="Settings"' to this tag once extensions is enabled.
          <div id="mainmenusettings" class="menuitem settings">
            <div class="image settings"></div>
            <div class="label">$!msg.get('modules.menus.main.settings')</div>
          </div>
        </a>
      ##end

      ##renderHintedExtensions($MainMenuExtensions, 'Settings', 'after', '', '')

      ##
      ## Glossary Menu Item
      ##

      ##renderHintedExtensions($MainMenuExtensions, 'Glossary', 'before', '', '')

      ##set($removeMainMenuItem = false)
      ##checkForRemoveExtension($MainMenuExtensions, 'Glossary', $removeMainMenuItem)
      ##if(!$isGuest && !$removeMainMenuItem)
        <div class="separator"></div>## !TODO: Make sure this separator is not shown if the previous item is not shown!
        ## !TODO: Add URL to the glossary index page.
        <a href="">
          ## !TODO: Add 'extensionhint="Glossary"' to this tag once extensions is enabled.
          <div id="mainmenuglossary" class="menuitem glossary">
            <div class="image glossary"></div>
            <div class="label">$!msg.get('modules.menus.main.glossary')</div>
          </div>
        </a>
      ##end

      ##renderHintedExtensions($MainMenuExtensions, 'Glossary', 'after', '', '')

      ##
      ## Dashboard Menu Item
      ##

      ##renderHintedExtensions($MainMenuExtensions, 'Dashboard', 'before', '', '')

      ##set($removeMainMenuItem = false)
      ##checkForRemoveExtension($MainMenuExtensions, 'Dashboard', $removeMainMenuItem)
      ##if(!$removeMainMenuItem)
        <div class="separator"></div>## !TODO: Make sure this separator is not shown if the previous item is not shown!
        <a href="${contextPath}dashboard">
          ## !TODO: Add 'extensionhint="Dashboard"' to this tag once extensions is enabled.
          <div id="mainmenudashboard" class="menuitem dashboard">
            <div class="image dashboard"></div>
            <div class="label">$!msg.get('modules.menus.main.dashboard')</div>
          </div>
        </a>
      ##end

      ##renderHintedExtensions($MainMenuExtensions, 'Dashboard', 'after', '', '')

      ##renderExtensions($MainMenuExtensions, 'stop', '', '')

      <div class="contextarrow"></div>
  </div> ## Main Menu
##end