<div id="navigationmenu" class="titlebar">
  <div id="universaladd-wrapper">
    <div id="universaladd" class="icon-plus"></div>
  </div>
  <div class="navigatorbutton" id="navigatortrigger">
    <div class="divider"></div>
    <div class="label">$!msg.get('core.header.navigator.title')</div>
    <div class="divider"></div>
  </div>

    <div id="breadcrumbselector"></div>
    <div id="breadcrumbreset"></div>
  </div>
  <div id="breadcrumb">

  <form id="mainsearchform">
    <div id="mainsearch">
      <div class="icon-search"></div>
      <input id="menusearchinput" class="mainsearchinput" type="text" name="text" value="$msg.get('bsg.global.navigation.search')" autocomplete = "off" />
      <div id="menusearchclose" class="icon-remove-circle"></div>
    </div>
  </form>
</div>

#renderModule('modules/navigation/search', true)