<script type="text/javascript">
<!--
core.dom.ready(function() {
  core.module.use('library/uielements/dropdown', function(dropdown) {
    window.d = dropdown;


//USERS
d.create('#as', d.USERS, {
  text: {
    "default": "Pick a remote User!"
  },
  formatSelection: function(option) {
    return '<i class="icon-person select2-search-choice-userphoto"></i>' + option.text;
  },
  formatResult: function(option) {
    return '<i class="icon-person select2-search-choice-userphoto"></i>' + option.text;
  },
  minimumInputLength: 1,
  autoComplete: {
    enabled: true,
    url: "http://kwak.raisen.pl/collibra/dropdown.php"
  }
});

d.create('#am', d.USERS, {
  multiple: true,
  minimumInputLength: 1,
  text: {
    "default": "Pick a remote User!"
  },
  formatSelection: function(option) {
    return '<i class="icon-person select2-search-choice-userphoto"></i>' + option.text;
  },
  formatResult: function(option) {
    return '<i class="icon-person select2-search-choice-userphoto"></i>' + option.text;
  },
  autoComplete: {
    enabled: true,
    url: "http://kwak.raisen.pl/collibra/dropdown.php"
  }
});

d.create('#ds', d.USERS, {
  multiple: false,
  text: {
    "default": "Pick a static User!"
  },
  formatSelection: function(option) {
    if (option) {
      return '<i class="icon-person select2-search-choice-userphoto"></i>' + option.text;  // !TIP: You can also use option.id
    }
  },
  formatResult: function(option) {
    return '<i class="icon-person select2-search-choice-userphoto"></i>' + option.text;
  }
});

d.create('#dm', d.USERS, {
  multiple: true,
  text: {
    "default": "Pick a static User!"
  },
  formatSelection: function(option) {
    return '<i class="icon-person select2-search-choice-userphoto"></i>' + option.text;
  },
  formatResult: function(option) {
    return '<i class="icon-person select2-search-choice-userphoto"></i>' + option.text;
  }
});

d.create('#dsf', d.USERS, {
  initialSelection: ["1"],
  multiple: false,
  minimumResultsForSearch: 0,
  text: {
    "default": "Pick a static User!"
  },
  formatSelection: function(option) {
    return '<i class="icon-person select2-search-choice-userphoto"></i>' + option.text;
  },
  formatResult: function(option) {
    return '<i class="icon-person select2-search-choice-userphoto"></i>' + option.text;
  }
});

d.create('#dmf', d.USERS, {
  multiple: true,
  minimumResultsForSearch: 0,
  text: {
    "default": "Pick a static User!"
  },
  formatSelection: function(option) {
    return '<i class="icon-person select2-search-choice-userphoto"></i>' + option.text;
  },
  formatResult: function(option) {
    return '<i class="icon-person select2-search-choice-userphoto"></i>' + option.text;
  }
});

//DEFAULT

d.create('#das', {
  minimumInputLength: 1,
  autoComplete: {
    enabled: true,
    url: "http://kwak.raisen.pl/collibra/dropdown.php"
  }
});

d.create('#dam', {
  minimumInputLength: 1,
  multiple: true,
  autoComplete: {
    enabled: true,
    url: "http://kwak.raisen.pl/collibra/dropdown.php"
  }
});

d.create('#dds');

d.create('#ddm', {
    multiple: true
});

d.create('#ddsf', {
  minimumResultsForSearch: 0
});

d.create('#ddmf', {
  multiple: true,
  minimumResultsForSearch: 0
});

  });
});
//-->
</script>


<div style="margin: 100px;">
Users type
<table style="font-size: 11px;" cellpadding=10>
  <tr>
    <td>
    </td>
    <td>
      single
    </td>
    <td>
      multi
    </td>
  </tr>
  <tr>
    <td>
      autocomplete
    </td>
    <td>
      <div id="as" style="width: 200px;float:left;"></div>
    </td>
    <td>
      <div id="am" style="width: 200px;float:left;"></div>
    </td>
  </tr>
  <tr>
    <td>
      dropdown(no filter)
    </td>
    <td>
      <select id="ds" style="width: 200px">
        <option></option>
        <option value="1">Grzegorz Kaczan</option>
        <option value="2">Clovis Six</option>
        <option value="5">Dieter Wachters</option>
        <option value="4">Pierre Malarme</option>
        <option value="6">Grzegorz Pawlowski</option>
        <option value="7">Michal Hans</option>
        <option value="8">Felix Van De Maele</option>
      </select>
    </td>
    <td>
      
      <select id="dm" style="width: 200px" multiple="multiple">
        <option></option>
        <option selected="selected" value="1">123123123</option>
        <option value="2">11111111</option>
        <option value="5">2222222222</option>
        <option value="4">3333333333</option>
        <option value="6">G444444444444</option>
        <option value="7">555555555</option>
        <option value="8">55556666666</option>
      </select>
      
    </td>
  </tr>
  <tr>
    <td>
      dropdown(with filter)
    </td>
    <td>
    
      <select id="dsf" style="width: 200px">
        <option></option>
        <option value="1">Grzegorz Kaczan</option>
        <option value="2">Clovis Six</option>
        <option value="5">Dieter Wachters</option>
        <option value="4">Pierre Malarme</option>
        <option value="6">Grzegorz Pawlowski</option>
        <option value="7">Michal Hans</option>
        <option value="8">Felix Van De Maele</option>
      </select>
    </td>
    <td>
      <select id="dmf" style="width: 200px" multiple="multiple">
        <option></option>
        <option value="1">Grzegorz Kaczan</option>
        <option value="2">Clovis Six</option>
        <option value="5">Dieter Wachters</option>
        <option value="4">Pierre Malarme</option>
        <option value="6">Grzegorz Pawlowski</option>
        <option value="7">Michal Hans</option>
        <option value="8">Felix Van De Maele</option>
      </select>
    </td>
  </tr>
</table>
</div>

<div style="margin: 100px;">
Default type (again filled with collibra team names)
<table style="font-size: 11px;" cellpadding=10>
  <tr>
    <td>
    </td>
    <td>
      single
    </td>
    <td>
      multi
    </td>
  </tr>
  <tr>
    <td>
      autocomplete
    </td>
    <td>
      <div id="das" style="width: 200px;float:left;"></div>
    </td>
    <td>
      <div id="dam" style="width: 200px;float:left;"></div>
    </td>
  </tr>
  <tr>
    <td>
      dropdown(no filter)
    </td>
    <td>
      <select id="dds" style="width: 200px">
        <option></option>
        <option value="1">Grzegorz Kaczan</option>
        <option value="2">Clovis Six</option>
        <option value="5">Dieter Wachters</option>
        <option value="4">Pierre Malarme</option>
        <option value="6">Grzegorz Pawlowski</option>
        <option value="7">Michal Hans</option>
        <option value="8">Felix Van De Maele</option>
      </select>
    </td>
    <td>
      <select id="ddm" style="width: 200px" multiple="multiple">
        <option></option>
        <option value="1">Grzegorz Kaczan</option>
        <option value="2">Clovis Six</option>
        <option value="5">Dieter Wachters</option>
        <option value="4">Pierre Malarme</option>
        <option value="6">Grzegorz Pawlowski</option>
        <option value="7">Michal Hans</option>
        <option value="8">Felix Van De Maele</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>
      dropdown(with filter)
    </td>
    <td>
      <select id="ddsf" style="width: 200px">
        <option></option>
        <option value="1">Grzegorz Kaczan</option>
        <option value="2">Clovis Six</option>
        <option value="5">Dieter Wachters</option>
        <option value="4">Pierre Malarme</option>
        <option value="6">Grzegorz Pawlowski</option>
        <option value="7">Michal Hans</option>
        <option value="8">Felix Van De Maele</option>
      </select>
    </td>
    <td>
      <select id="ddmf" style="width: 200px" multiple="multiple">
        <option></option>
        <option value="1">Grzegorz Kaczan</option>
        <option value="2">Clovis Six</option>
        <option value="5">Dieter Wachters</option>
        <option value="4">Pierre Malarme</option>
        <option value="6">Grzegorz Pawlowski</option>
        <option value="7">Michal Hans</option>
        <option value="8">Felix Van De Maele</option>
      </select>
    </td>
  </tr>
</table>
</div>
