<br><br>
<button id="getmodule">Get Module</button><br><hr><br>
<div id="modulecontent"></div>

<style>
BUTTON {
  margin-left: 20px;
}
HR {
  margin: 0 20px;
}
#modulecontent {
      background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid gray;
    min-height: 400px;
    margin: 0 20px 23px;
}
</style>

<script>
  core.dom.ready(function() {
    core.dom.select('#getmodule').on('click', function() {
      core.module.get('model/model', function(content) {
      }, function(W) {
        console.log(W);
      });
    });
  });
</script>