###
### Term Page
### This file is used to display term page.
###
### Copyright Collibra 2012
### Author: Grzegorz Pawlowski <grzegorz@collibra.com>
###



## Include navigation and search.
#renderModule('pages/shared/navigation', true)

## Include the title bar.
#renderModule('modules/content/titlebar', true)

## Two column layout
<div class="twocolumnlayout">
  <div class="leftcolumn-background"></div>
  <div class="leftcolumn">
    ## Include the tab bar.
    #renderModule('modules/menus/tabbar', false)
  </div>
  <div class="rightcolumn">
    <div class="pagecontent">
      ## Content from tabs goes here.

      ## Load first tab.
      #renderModule('pages/glossary/tabs/overview', false)

    <div>
  </div>
  <div class="clearfloats"></div>
</div>
