  <div class="index">
    <div class="menu border-radius">
      <div class="searchwrapper">
        <span class="icon-search"></span>
        <input class="collibraSearchInput" style="width: 96%;" type="text" name="classFilter" title="Search class ..." value="Search class ..."/>
      </div>
      <div id="grouplist">
        
        <nav>
        {!
            output += publish.draw(publish.groups);
        !}
        </nav>
      </div>
    </div>
    <div class="fineprint" style="clear:both">
      <footer>
      <if test="JSDOC.opt.D.copyright">&copy;{+JSDOC.opt.D.copyright+}<br /></if>
      Documentation generator: <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blank">JsDoc Toolkit</a> {+JSDOC.VERSION+}<br />
      Template: <a href="{+publish.conf.templateLink+}" target="_blank">{+publish.conf.templateName+}</a> {+publish.conf.templateVersion+}<br />
      Generated on:
      {!
        var date = new Date();
        var minutes = date.getMinutes() +"";
        if (minutes.length == 1) {
          minutes = '0'+ minutes;
        }
        var timeHuman = date.getFullYear() + "-" + date.getMonth() + "-" + date.getDate() + " " + date.getHours() + ":" + minutes;
        var timeData = date.getFullYear() + "-" + date.getMonth() + "-" + date.getDate();
        output += "<time datetime='"+ timeData +"' pubdate>" + timeHuman +"</time>";
      !}
    </footer>
    </div>
  </div>

  <!--<div class="index indexStatic"></div>-->