

<!DOCTYPE>
<html>
  <head>
    <title>Licensing - Data Governance Center</title>

    <!-- Use Google Chrome Frame if it is available. -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="$!{contextPath}resources/pages/shared/header/images/favicon.ico" type="image/x-icon" />
	
	<link rel="stylesheet" href="$!{contextPath}resources/pages/error/error.css" type="text/css" />
  </head>
  </head>
  <body>
	<div id='maincontainer'>
	<div id='header' class='layoutsection'>
        ##
        ## Logo
        ##

        ## !TODO: How will I generate the URL to the homepage?
        <a href="$!{contextPath}" id="logowrapper">
          #set($logo = $pd.getProperty('core-header-logo').trim())
          <img id="logo" src="$!{contextPath}resources/pages/shared/header/images/logo.png" alt="Collibra DGC" height="80" />
        </a>
      </div>
      <div id="contentwrapper">
       <div>
	<div>
	 <div class="title">$msg.get("license.license")</div>
	 ## !TODO make this an actual ajax call and redirect to another page upon success
	    <form name="licenseform" enctype="multipart/form-data" action="$!{contextPath}rest/latest/license" method="post">	
	   		<div> <input type="file" name="datafile" size="40"></div>
			<div><input type="submit" value="$msg.get("license.upload")"></div>
        </form>
	</div>
</div>
	  </div>
	</div>
  </body>
</html>