{! Link.base = ""; /* all generated links will be relative to this */ !}
{+subtemplate("subtemplates/head.tmpl", {subtitle: "Doc"})+}
{+subtemplate("subtemplates/menu.tmpl")+}
<div class="content">
  <div class="innerContent">
    <article>
      <h1 class="classTitle"><span>Doc</span></h1>
      
      Hello!
    </article>
  </div>
</div>
{+subtemplate("subtemplates/foot.tmpl")+}
